<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>AUTOBAHN</title>
    </head>
    <body>
        <pre id="log" style="height: 20em; overflow-y: scroll; background-color: #faa; display: none"></pre>
        <noscript>You must enable JavaScript</noscript>
        <script src="static/ws.js"></script>
        <script src="static/functions.js"></script>
    </body>
</html>
